* {
    /* reset do css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web',sans-serif;
   
}

/* 1 rem = 16px */

:root {
    --gray-800:#1e293b;
    --gray-600:#475569;
    --gray-400:#94a3b8;
    --gray-200:#e2e8f0;
    --purple:#7c3aed;
    --white:#fff;

}

/* numero =20 */
/* print (numero) */
header  {
    background-image: url(./imagens/bg-mobile.png);
    background-size: cover;
    height: 8.375rem ;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3.7rem;
    
}

main {
    padding-inline: 1.5rem;
}

.descricao {
    margin-bottom: 2.5rem;
}

.descricao h1{
    color: var(gray-800);
    margin-bottom: 1rem;
    font-size: 1.5625rem;
}

.descricao p{
    font-size: 0.8125rem;
    color: var(--gray-600);
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.input-box div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.login label{
    font-size: 0.075rem;
    color: var(--gray-600);
    font-weight: 600;
}

.Login input{
    padding: 1rem 0.75rem;
    border: 1px solid var(--gray-200);
    border-radius: 0.25rem;
    color: var(--gray-800);
}

.Login input::placeholder{
    color: var(--gray-400);
}

.Login input::hover,
.Login input::focus{
    outline: 1px solid var(--purple);
}

.Login a {
    color: var(--purple);
    text-decoration: none;
    font-size: 0.875rem;;
    font-weight: 600;
}

.Login a:hover {
    text-decoration: underline;

}

.Login button {
    margin-top: 1rem;
    padding-block: 1rem;
    width: 100%;
    background: var(--purple);
    border: none;
    border-radius:0.25rem;

    font-size: 1rem;
    font-family: 700;
    color: var(--white);
}

.paragrafo {
    padding-top: 1rem;
}
    

/* nome da cor, rgb, rgba, hex, hsl, hwb*/